<h1 class=""><u>Lista de alimentos</u></h1>

<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Marca</th>
      <th scope="col">Stock</th>
      <th scope="col">Precio</th>
      <th scope="col">Imagen</th>
      <th scope="col">Oferta semanal</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>

    <!-- Directivas -->
    @for (alimento of alimentos; track alimento.marca) {
      <tr>
        <th>{{alimento.marca}}</th>
        @if(alimento.stock == 0){
          <td><span class="badge text-bg-danger stock">Sin stock</span></td>
        }
        @else{
          <td><span class="badge text-bg-primary stock">Disponible</span></td>
        }
        <td>{{alimento.precio}}</td>
        <td><img width="150" class="img-thumbnail" [src]="alimento.imagen" [alt]=""></td>
        @if(alimento.oferta){
          <td><span class="badge text-bg-success oferta">OFERTA!!</span></td>
        }
        @else {
          <td></td>
        }
        @if(alimento.stock != 0){
          <!-- Componente -->
            <app-input-integer [(cantidad)]="alimento.cantidad" [max]="alimento.stock"></app-input-integer>
            <button class="btn btn-primary btn-compra" [disabled]="alimento.cantidad === 0" (click)="agregarAlCarrito(alimento)">Comprar</button>
          }
          @else {
            <input type="number" class="form-control input-sm w-100 no-spinner" disabled placeholder="No disponible">
          }
      </tr>
    }
    @empty {
    <tr>
      <td>No hay alimentos disponibles en este momento</td>
    </tr>
    }
  </tbody>
</table>


<!-- Forma vieja -->
<!-- <tr *ngFor="let alimento of alimentos" [ngClass]="{'oferta': alimento.oferta}"> -->
<!-- <th>{{alimento.marca}}</th>
          <td>{{alimento.stock}}</td>
          <td class="table-warning">{{alimento.precio}}</td>
          <td><img class="imagenes" [src]="alimento.imagen" [alt]=""></td>
          <td><span *ngIf="alimento.stock == 0" class="badge text-bg-danger stock">Sin stock</span></td>
          <td></td>
        </tr> -->

<!--      <td><img class="imagenes" [src]="alimento.imagen" [alt]=""></td>
      @if(alimento.oferta){
        <td><span class="badge text-bg-success oferta">OFERTA!!</span></td>
      }  -->