/* .imagenes{
    width: 150px;
    height: 150px;
} */

.oferta{
    background: lightgreen;
    font-size: 15px; 
    font-weight: 800;
}

.stock {
    font-size: 15px; 
    font-weight: 600;
}

tr{
    border-style: hidden;
}

.btn-compra{
    margin-top: 5px;
}
